@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.logo{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    
}

 html, body {
    font-family: "Merriweather", serif;
  }
  
  .fw-500 {
    font-weight: 500;
    font-style: normal;
  }

  .fs-14{
    font-size: 14px;
  }

  .fs-16{
    font-size: 16px;
    line-height: 30px;
  }

  .infscroll h1{
    font-size: 22px;
    letter-spacing: -0.6px;
  }

  @media only screen and (max-width:768){
    .infscroll h1 {
      font-size: 15px;
      letter-spacing: -0.0px;
    }
    .infscroll-author, .infscroll-date{
      font-size: 12px;
    }
  }



  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  

  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }